body {
    /* background-color: #121212; */
    background-image: url("/codeback.jpg");
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
    margin: 5;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #1f1f1f; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block; 
    color: #E0E0E0; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.navbar li.right {
    float: right;
}
.navbar li a:hover {
    background-color: #292929; 
    color: #FFFFFF;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 250px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.box .title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    color: #E0E0E0;
    margin-bottom: 10px;
}

.box p {
    color: #B0B0B0;
    margin: 0;
    line-height: 1.5;
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.socials a {
    background-color: #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 350px;
    padding: 10px;
    color: #E0E0E0;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.socials a:hover {
    background-color: #292929; 
    color: #FFFFFF;
    transform: translateY(-2px);
}

.dots {
    background-image: radial-gradient(circle at 20px 20px, rgb(138, 138, 138) 1px, transparent 0);
    background-size: 90px 90px;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.project {
    border-radius: 2px solid white;
    width: 50%
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.blogs a {
    background-color: #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 500px;
    padding: 10px;
    color: #E0E0E0;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.blogs a:hover {
    background-color: #292929; 
    color: #FFFFFF;
    transform: translateY(-2px);
}

.cool_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.cool_list .item {
    background-color: #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 500px;
    padding: 10px;
    color: #E0E0E0;
    text-decoration: none;
    text-align: left;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.cool_list .item:hover {
    background-color: #292929; 
    color: #FFFFFF;
    transform: translateY(-2px);
    cursor: pointer;
}

.cool_list .item .description {
    color: #E0E0E0;
    text-align: left;
}

.cool_list .item .title {
    font-size: 20px;
}

.cool_list .item {
    position: relative;
}

.cool_list .item .writeup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    background-color: #4A90E2;
    border-radius: 0 5px 5px 0;
}

.cool_list .item .general {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    background-color: #e24a4a;
    border-radius: 5px;
}

.stat_row {
    background-color: #1f1f1f;
    border-radius: 5px;
    width: 100%px;
    padding: 10px;
    color: #E0E0E0;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-bottom: 10px;
}

.stat_row:hover {
    background-color: #292929; 
    color: #FFFFFF;
    transform: translateY(-2px);
}

.stat_row .title {
    text-align: center;
}

.statboxroot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
}

.stat_row .statbox {
    background-color: #292929;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 70px;
    padding: 10px;
    color: #E0E0E0;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.stat_row .statbox:hover {
    background-color: #1f1f1f; 
    color: #FFFFFF;
    transform: translateY(-2px);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    height: 80vh;
}

.home_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.home_info .info {
    background-color: #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 250px;
    padding: 10px;
    color: #E0E0E0;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.home_info .info:hover {
    background-color: #292929; 
    color: #FFFFFF;
    transform: translateY(-2px);
}

.home_info .info h1 {
    font-size: 20px;
    right: 0;
}