@keyframes slideIn_left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideIn_right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animated-element-1 {
  animation: slideIn_left 1s ease-in-out;
}

.animated-element-2 {
  animation: slideIn_right 1s ease-in-out;
}

button {
  outline: none;
  border: none;
  color: white;
  background-color: gray;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;


}

button:hover {
  transition-duration: 1s;
  background-color: rgb(47, 46, 46);
}